.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Quicksand, sans-serif;
  font-family: Quicksand, sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  animation-name: flash-in;
  animation-duration: 1s;

  .img {
    width: 250px;
  }
}

@keyframes flash-in {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
