.wrapper {
  width: 300px;
  background-color: #FEFEFE;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 20px 20px;
  font-family: 'Quicksand', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.header-subtext {
  font-size: 0.95rem;
  color: #999999;
  cursor: pointer;
}

.header-subtext:hover {
  color: #7670FF;
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}
