.wrapper {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: #FEFEFE;
  border-radius: 1.5rem;
  padding: 5%;
}

.aspect-ratio-container {
  width: 100%;
  padding-top: 47%;
  position: relative;
  border-radius: inherit;
  overflow: hidden;
}
