.wrapper {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  height: fit-content;
}

.book-container {
  width: 300px;
  margin: 10px;
}

.simple-rating {
  margin-top: 5px;
  font-weight: 700;
  color: #555;
}

.rating-value {
  color: #333;
}
