.right-drawer-toggle {
  transition: 1s ease-in;
}

.right-drawer {}

.right-drawer .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right-drawer .content .avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.right-drawer .content .avatar-container .avatar-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}


.right-drawer .content .section {
  margin: 10px 0 5px;
}

.right-drawer .content .section .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
  padding-right: 5px;
}

.right-drawer .content .section .header .view-all {
  font-size: 0.95rem;
  color: #999999;
  cursor: pointer;
}

.right-drawer .content .section .header .view-all:hover {
  color: #7670FF;
}

.progress-circle-img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

