.right-drawer-toggle {
  transition: 1s ease-in;
}

.right-drawer {}

.right-drawer .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right-drawer .content .avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.right-drawer .content .avatar-container .avatar-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}


.right-drawer .content .section {
  margin: 10px 0 5px;
}

.right-drawer .content .section .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
  padding-right: 5px;
}

.right-drawer .content .section .header .view-all {
  font-size: 0.95rem;
  color: #999999;
  cursor: pointer;
}

.right-drawer .content .section .header .view-all:hover {
  color: #7670FF;
}

.progress-circle-img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

.search-bar-container {
  width: 100% - 17px;
  margin: 20px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-button-container {
  position: absolute;
  right: 20px;
}

.page-content {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
}

.left-section {
  padding-right: 10px;
  /* background-color: #7670FF; */
  flex: 3;
  /* height: 100px */
}

.right-section {
  padding-left: 10px;
  background-color: aqua;
  flex: 2;
  height: 100px
}

.book-info-card {
  display: flex;
  flex-direction: row;
  background-color: #FEFEFE;
  border-radius: 20px;
  padding: 30px;
}

.book-cover-and-buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cover-img {
  width: 100%;
  border-radius: 20px;
}

.button {
  border-radius: 10px;
  background-color: #7670FF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 17px;
  transition: all 0.3s;
  /* cursor: pointer; */
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.button:hover {
  background-color: #8B82FF;
  transition: 0.2s;
}

.button-secondary {
  border-radius: 10px;
  background-color: #FEFEFE;
  border: 2px solid #7670FF;
  color: #7670FF;
  text-align: center;
  padding: 5px 17px;
  transition: all 0.3s;
  /* cursor: pointer; */
  margin: 5px 0 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.button-secondary:hover {
  background-color: #7670FF;
  border: 2px solid #7670FF;
  color: #FEFEFE;
  transition: 0.2s;
}

.book-text-info {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin: 0 0 0 40px;
  font-family: 'Quicksand', sans-serif;
}

.book-title {
  color: #7670FF;
  font-size: 1.5rem;
  font-weight: 700;
}

.book-author {
  color: #111111;
  font-size: 1.25rem;
  font-weight: 700;
}

.rating-bar {
  margin: 10px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* width: 35%; */
  width: fit-content;
}

.book-sypnosis {
  font-weight: 500;
}

.review-card {
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 30px;
  font-family: 'Quicksand', sans-serif;
  margin: 20px 0 0;
}

.review-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.review-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0 20px;
}

.review-bold-text-and-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.start-review-button {
  width: fit-content;
}

.review-bold-text {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.review-username-clickable {
  font-weight: bold;
  color: #7670FF;
  cursor: pointer;
}

.review-rating-bar {

}
